---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';

const {
  title = 'aPulse | 发现世界的新跳动。',
  description = 'aPulse | 发现世界的新跳动。',
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#020617" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
